@font-face {
    font-family: 'Gelasio';
    src: url('Gelasio-Italic.woff2') format('woff2'),
        url('Gelasio-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelasio';
    src: url('Gelasio-BoldItalic.woff2') format('woff2'),
        url('Gelasio-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelasio';
    src: url('Gelasio-SemiBoldItalic.woff2') format('woff2'),
        url('Gelasio-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelasio';
    src: url('Gelasio-Medium.woff2') format('woff2'),
        url('Gelasio-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelasio';
    src: url('Gelasio-Bold.woff2') format('woff2'),
        url('Gelasio-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelasio';
    src: url('Gelasio-SemiBold.woff2') format('woff2'),
        url('Gelasio-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelasio';
    src: url('Gelasio-MediumItalic.woff2') format('woff2'),
        url('Gelasio-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelasio';
    src: url('Gelasio-Regular.woff2') format('woff2'),
        url('Gelasio-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

