* {
    margin: 0;

}

.seccion {
    width: 365px;
    height: 568px;
    border: 1px solid black;
}

.ocultar {
    display: none;
}

.paseos {
    background-image: url("/dev/img/cronograma.png");
    background-size: cover;
    background-color: blueviolet;
    /*overflow-x: auto;*/
}

.item {
    display: flex;
    width: 365px;
    background: rgb(0, 0, 255);
}

.encabezado {
    width: 365px;
    height: 60px;
    margin-top: 38px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.flecha {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 10px;
}

.vista {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 100px;
}

.menu {
    grid-area: 1 / 3 / 2 / 4;
    margin-left: 100px;
}

.flecha img {
    width: 28px;
    height: 28px;

}

.menu img {
    width: 28px;
    height: 28px;
}

.dias {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    overflow-x: auto;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.dias {
    width: 100%;
    height: 80px;
    background-color: rgb(128, 255, 0);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    box-sizing: border-box;

}

.meses {
    display: grid;
    background-color: fuchsia;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-content: center;
    align-items: center;
}

.mes-principal {
    font-size: 15px;

}

.flecha1 img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 5px;

}

.flecha2 img {
    cursor: pointer;
    width: 25px;
    height: 25px;

}

.dia {
    cursor: pointer;
    display: flex;
    background-color: blueviolet;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-top: 0px;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    box-sizing: border-box;
}

.dia p {
    font-size: 40px;
    margin-top: 8px;
}

.carrusel img {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 35px;
}

.cronograma {
    width: 365px;
    height: 362px;
    background: rgb(255, 166, 0);
    overflow: hidden;
}

.titulo {
    font-size: 13px;
}

.cronograma h1 {
    position: absolute;
    left: 30px;
    top: 220px
}

.anterior,
.siguiente {
    display: none;
}


.weekly-schedule {
    display: flex;
    flex-direction: column;
}

.day h3 {
    margin-top: 10px;
}

.calendar {
    position: absolute;
    margin-top: 30px;
    width: 320px;
    height: 320px;
    align-items: center;
    justify-content: center;
    left: 25px;
    top: 220px;
    overflow: hidden;
}

.day-and-activity {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    border-radius: 14px;
    margin-bottom: 5px;
    color: #484d53;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    overflow: hidden;
}

.activity-one {
    background-color: rgb(96, 211, 20);
}


.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-10px);
}

.day h1 {
    font-size: 1.6rem;
    font-weight: 600;
}


.activity {
    border-left: 3px solid #484d53;
}

.participants {
    display: flex;
    margin-left: 20px;
}

.participants img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}
