* {
    margin: 0;
}

.seccion {
    width: 365px;
    height: 568px;
    border: 1px solid black;
}

.ocultar {
    display: none;
}

.paseos {
    background-image: url("/dev/img/cronograma.png");
    background-size: cover;
    background-color: blueviolet;
}

.item {
    display: flex;
    width: 300px;
    background: blue;
}

.header {
    width: 365px;
    height: 90px;
    background: rgba(126, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
}

.carrusel {
    width: 365px;
    height: 120px;
    background: rgba(255, 0, 128, 0.7);
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.cronograma {
    width: 365px;
    height: 360px;
    background: rgba(255, 165, 0, 0.7);
}

.titulo {
    font-size: 13px;
}

.anterior, .siguiente {
    display: none;
  }