@font-face {
    font-family: "Gelasio-bold";
    src: url("/dev/fonts/Gelasio-Bold.woff") format("truetype");
  }
* {
    margin: 0;

}

.seccion {
    width: 365px;
    height: 568px;
    border: 1px solid black;
}

.form_paseo {
    
    overflow-y: auto;
    width: 365px;
    height: 568px;
}

.fondo{
    width: 97%;
    height: 530px;
    background-color: rgb(28,100,100,0.7);
    border-radius: 20px;
    margin-left: 5px;
}


.encabezado {
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.flecha {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 10px;
}

.vista {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.vista h4 {
    /* position: absolute;
    top: 20px;
    left: 120px; */
    margin-right: 60px;
    margin-top: 10px;
}

.flecha img {
    width: 28px;
    height: 28px;
    /* position: absolute;
    top: 25px; */
    margin-top: 20px;
    cursor: pointer;

}

.menu img {
    width: 28px;
    height: 28px;
}

.item {
    display: flex;
    flex-direction: column-reverse;
    width: 328px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    display: flex;
    width: 328px;
    height: 90px;
    align-items: center;
    justify-content: center;
}

.text {
    margin-top: 10px;
    height: 80px;
    background-color: rgb(190,211,211);
}

.titulo {
    padding-top: 10px;
}

.submit {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(124,124,124, 0.3);
    border-radius: 20px;
    height: 60px;
    width: 70%;
    margin-top: 30px;
    margin-left: 50px;
    border-width: 2px;
    border-color:#000;
    
}

.especial1 {
    border-radius: 10px;
    height: 27px;
    width: 160px;
    margin-top: 10px;
    background-color: rgb(190,211,211);
}

.especial2 {
    border-radius: 10px;
    height: 27px;
    width: 140px;
    margin-top: 10px;
    background-color: rgb(190,211,211);
}

.especial3 {
    border-radius: 10px;
    height: 30px;
    width: 50px;
    background-color: rgb(190,211,211);
}

.especial4 {
    border-radius: 10px;
    height: 30px;
    width: 50px;
    margin-top: 28px;
    background-color: rgb(190,211,211);
}

.especial5 {
    border-radius: 10px;
    height: 30px;
    width: 80px;
    margin-top: 28px;
    background-color: rgb(190,211,211);
}

.especial6 {
    border-radius: 10px;
    height: 30px;
    width: 80px;
    background-color: rgb(190,211,211);
}

.especial7 {
    border-radius: 10px;
    height: 30px;
    width: 200px;
    background-color: rgb(190,211,211);
}

.titulopaseador {
    margin-top: 30px;
}

.titulohora {
    margin-top: 30px;
}

.paseadorhora {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.hora {
    grid-area: 1 / 1 / 2 / 2;
}

.paseador {
    grid-area: 1 / 2 / 2 / 3;
}

.text {
    border-radius: 10px;
    height: 30px;
}

.raza {
    display: grid;
    width: 328px;
    height: 70px;
    grid-template-columns: 2fr 1fr;
    ;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div2 text {
    border-radius: 10px;
    height: 20px;
}

.tres {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.divdia {
    grid-area: 1 / 1 / 2 / 2;
    width: 20px;
}

.divmes {
    grid-area: 1 / 2 / 2 / 3;
    width: 20px;
}

.divaño {
    grid-area: 1 / 3 / 2 / 4;
    width: 20px;
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}
