*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

.body{
    overflow: scroll;
}

.seccion{
    max-width: 365px;
    height: 568px;
    border: 1px solid black;
    margin: 10px;
    position: relative;
    overflow: scroll;
}

.ocultar{
    display: none;
}

.home{
    background-image: url("/dev/img/home.png");
    background-size: cover;
    background-color: blueviolet;
}

.header{
    width: 365px;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    background: rgba(126, 255, 255, 0.7);
    justify-items: center; 
    align-items: center;
}

  .logo {
    width: 45px;
  }
  
  .titulo {
    margin-left: 20px;
    font-size: 18px;
  }
  
  .menu {
    width: 30px;
    height: auto;
  }

.carrusel{
    width: 365px;
    height: 200px;
    background: rgba(255, 0, 128, 0.7);
    transition: all 0.4s ease;
    border-radius: 1em;
    overflow: hidden;
}

.carrusel .carru{
    width: 200%;
    background: rgba(255, 0, 124, 0.1);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    padding-bottom: .01em;
    border-radius: 1em;
    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel .img{
    width: calc(50%);
    margin: 0 45px;
    height: 10.2em;
    background-color: lime;
    transition: all 0.4s ease;
    border-radius: 1em;
}

.carrusel .puntos{
    width: 100%;
    padding: .1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.carrusel .punto{
    width: 1em;
    height: .9em;
    margin: .1em 1em 0;
    background-color: blue;
    transition: all 0.4s ease;
    border-radius: 1em;
    cursor: pointer;

}

li {
    list-style-type: none;
  }

img {
max-width: 100%;
width: 100%;
display: block;
object-fit: cover;
object-position: center center;
}

.carrusel .punto.activo{
    background-color: yellowgreen;
}

/*----------------*/
@import url('https://fonts.googleapis.com/css?family=Arvo');


h1 {
  font-size: 1.4rem;
  margin: 0 0 .1em;
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.data{
    margin: 15px;
    margin-top: 1px;
    position: relative;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #ffff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background:  url('/dev/img/amigos.jpeg');
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  
  &:nth-of-type(3n) {
    background-image: url('/dev/img/amigos.jpeg');
  }
  
  &:nth-of-type(4n) {
    background-image: url('/dev/img/cronograma.png');
  }
  
  &:nth-of-type(5n) {
    background-image: url('/dev/img/patas.png');
  }
  
  &:nth-of-type(6n) {
    background-image: url('/dev/img/perro.png');
  }
  
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }
  
  &:hover {
    transform: scale(1.05);
    
    &:after {
      opacity: 0;
    }
  }

  &--medium {
    grid-row-end: span 2;
  }

  &--large {
    grid-row-end: span 3;
  }

  &--full {
    grid-column-end: auto;

    @media screen and (min-width: 365px) {
      grid-column: 1/-1;
      grid-row-end: span 2;
    }
  }
  
  &__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282;
    
    &:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }
}