* {
    margin: 0;

}

.seccion {
    width: 365px;
    height: 568px;
    border: 1px solid black;
    background-color: blueviolet;
}

.encabezado {
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: rgb(126, 255, 255);

}

.imgmenu img {
    width: 28px;
    height: 28px;
    padding-left: 320px;
    padding-top: 20px;


}

.logo{
    background-color: blueviolet;
}

.logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 110px;
    left: 135px;
}

.menu {
    /* background-image: url("/dev/img/vista_menu.png"); */
    
    background-size: cover;
    overflow-y: auto;
    width: 365px;
    height: 568px;
}

.botones {
    background-color: cornflowerblue;
    margin-top: 170px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
    
    
}

.boton {
    width: 210px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 0, 0);
    border-radius: 10px;
    height: 35px;
    margin-left: 80px;
}