* {
    margin: 0;
}

.seccion {
    width: 365px;
    height: 568px;
    border: 1px solid black;
}

.encabezado {
    width: 365px;
    height: 60px;
    margin-top: 38px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.flecha img {
    width: 28px;
    height: 28px;

}

.menu img {
    width: 28px;
    height: 28px;
}

.flecha {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 10px;
}

.vista {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 100px;
}

.menu {
    grid-area: 1 / 3 / 2 / 4;
    margin-left: 100px;
}

.seccion1 {
    display: flex;
    height: 200px;
    margin-bottom: 20px;
}


/*.nosotros {
    background-image: url("/dev/img/nosotros.png");
    background-size: cover;
}*/

.header {
    display: flex;
    width: 365px;
    height: 60px;
    background: rgba(126, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
}

.subtitulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.texto {
    position: relative;
    width: 205px;
    text-align: center;
    font-size: small;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 38px;
    margin-top: 2px;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
    position:absolute;
    bottom: 20px;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3; 
    margin-left: 20px;
    margin-top: -40px; 
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
    overflow: hidden;
    position: absolute;
    bottom: 100px;
    margin-top: -10px;
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
    position: absolute;
    bottom: 210px;
    left: 170px;
    justify-content:space-around;
}

.div1,
.div3,
.div5 {
    position: relative;
    overflow: hidden;
    margin-left: auto;
}

.div1 img,
.div4 img {
    width: 140px;
    height: 170px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.5);
}

.equipo-container {
    margin-top: 5px;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    margin-left: 30px;
    background-color:rgba(126, 255, 255, 0.7); 
    border-radius: 10px; 
    z-index: -1; 
}

.persona {
    text-align: center;
    
}
.persona1 {
    position: absolute;
    bottom: 70px;
    left: 35px;
    
}
.persona2 {
    position: absolute;
    bottom: 35px;
    left: 110px;
    right: 10px;
    
}
.persona3 {
    position: absolute;
    bottom: 0px;
    top: 130px;
    left: 45px;
    right: 10px;
}

.foto-persona {
    width: 45px;
    height: 45px;
    padding-left: 5px;
    border-radius: 50%; 
    margin-bottom: -3px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.maps {
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 140px;
    height: 30px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255); 
    border-radius: 10px; 
    z-index: -1; 
    font-size: small;
    border: 3px solid rgb(126, 255, 255);
}

.donar {
    width: 140px;
    height: 30px;
    margin-left: 30px;
    background-color: rgb(126, 255, 255); 
    border-radius: 10px; 
    border: 3px solid rgb(0, 0, 0);
}

.texto1 {
    position: relative;
    margin-top: 4px;
    text-align: center;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.7);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.texto2 {
    position: relative;
    top: 4px;
    text-align: center;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.7);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

