*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

.body{
    overflow: scroll;
}

.seccion{
    max-width: 365px;
    height: 568px;
    border: 1px solid black;
    margin: 10px;
    position: relative;
    overflow: scroll;
}

.ocultar{
    display: none;
}

.home{
    background-image: url("/dev/img/paseadores.png");
    background-size: cover;
    background-color: blueviolet;
}


.header{
    width: 365px;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    background: rgba(126, 255, 255, 0.7);
    justify-items: center; 
    align-items: center;
}

.back {
    width: 45px;
    height: auto;
  }

.logo {
    width: 45px;
  }
  
  .titulo {
    text-align: center;
    font-size: 18px;
  }
  
  .menu {
    width: 25px;
    height: auto;
  }


.titulo-pas {
    width: 340px;
    margin-top: 0;
}

.texto{
    width: 365px;
    height: 100px;
    background: rgba(251, 255, 40, 0.7);
}

.botones {
  margin-top: 20px;
}

.boton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.boton:last-child {
  margin-right: 0;
}

//-------------------------

.car-paseador{
    max-width: 365px;
    height: 568px;
    border: 1px solid black;
    position: relative;
}
  
.slider {
position: absolute;
top: 10px;
left: 50%;
transform: translate(-50%, 0%);
width: 340px;
height: 270px;
/*   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); */
}

.wrapper {
overflow: hidden;
position: relative;
z-index: 1;
border-radius: 10px;
}

#items {
width: 10000px;
position: relative;
top: -220;
left: -300px;
}

#items.shifting {
transition: left 0.2s ease-out;
}

.slide {
width: 400px;
height: 550px;
cursor: pointer;
float: left;
display: flex;
flex-direction: column;
justify-content: center;
transition: all 1s;
position: relative;
}

.slider.loaded .slide:nth-child(2),
.slider.loaded .slide:nth-child(7) {
background: #ffcf47;
border-radius: 10px;
}
.slider.loaded .slide:nth-child(1),
.slider.loaded .slide:nth-child(6) {
background: #7adcef;
border-radius: 10px;
}
.slider.loaded .slide:nth-child(3) {
background: #dff8ec;
border-radius: 10px;
}
.slider.loaded .slide:nth-child(4) {
background: #a78df5;
border-radius: 10px;
}
.slider.loaded .slide:nth-child(5) {
background: #ff8686;
border-radius: 10px;
}

.content {
width: 400px;
height: 560px;
border-radius: 10px;
box-shadow: 0 6px 6px rgba(0, 0, 0, 0), 0 0 30px rgba(0, 0, 0, 0.1) inset;
position: relative;
margin-top: 0px;
}

.up {
width: 400px;
height: 600px;
border-radius: 10px 10px 0 0;
background: rgba(28, 216, 210, 1);
background: rgba(28, 216, 210, 1);
background: -moz-linear-gradient(
    top,
    rgba(28, 216, 210, 1) 0%,
    rgba(147, 237, 199, 1) 100%
);
background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(28, 216, 210, 1)),
    color-stop(100%, rgba(147, 237, 199, 1))
);
background: -webkit-linear-gradient(
    top,
    rgba(28, 216, 210, 1) 0%,
    rgba(147, 237, 199, 1) 100%
);
background: -o-linear-gradient(
    top,
    rgba(28, 216, 210, 1) 0%,
    rgba(147, 237, 199, 1) 100%
);
background: -ms-linear-gradient(
    top,
    rgba(28, 216, 210, 1) 0%,
    rgba(147, 237, 199, 1) 100%
);
background: linear-gradient(
    to bottom,
    rgba(28, 216, 210, 1) 0%,
    rgba(147, 237, 199, 1) 100%
);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cd8d2', endColorstr='#93edc7', GradientType=0 );
}

.producto {
width: 250px;
height: 300px;
background-size: 320px 540px;
background-position: center;
background-repeat: no-repeat;
margin-left: calc(50% - 160px);
position: relative;
top: 250px;
border-radius: 10px;
box-shadow: 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.1);
}

.pro_1 {
background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=634&q=80");
}

.pro_2 {
background-image: url("https://images.unsplash.com/photo-1507878566509-a0dbe19677a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6285b5a1e58c03ab774087dbd5c6c548&auto=format&fit=crop&w=634&q=80");
}

.pro_3 {
background-image: url("https://images.unsplash.com/photo-1516767848735-fb701beb5567?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e68ecebc85b9abc4600ce2d481001f7d&auto=format&fit=crop&w=564&q=80");
}
.pro_4 {
background-image: url("https://images.unsplash.com/photo-1525740664269-1bb17f251737?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b65b03da783cb0bb235cb72b05a83dc&auto=format&fit=crop&w=634&q=80");
}

.pro_5 {
background-image: url("https://images.unsplash.com/photo-1518938630361-6245118b5415?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7403b7c93dcaeafcb7faa2b194b6cb98&auto=format&fit=crop&w=634&q=80");
}

.price {
width: 0px;
height: 70px;
border-radius: 2px;
border-left: 40px solid #ff1f45;
border-right: 40px solid #ff1f45;
border-bottom: 20px solid transparent;
float: right;
margin-right: 0px;
top: -40px;
position: relative;
}

.price p {
color: #ffffff;
width: 27px;
float: right;
font-size: 2em;
font-weight: bold;
margin-top: 25px;
}

.button {
font-size: 18px;
letter-spacing: 2px;
text-transform: uppercase;
display: inline-block;
text-align: center;
width: 200px;
font-weight: bold;
padding: 14px 0px;
color: #ffffff;
border-radius: 5px;
position: relative;
background-color: #1cd8d2;
box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.1);
margin-left: calc(150px - 88px);
top: 70px;
}

.button:hover {
background-color: #93edc7;
color: #ffffff;
}

.control {
position: absolute;
top: 100%;
width: 40px;
height: 40px;
background: #fff;
border-radius: 20px;
margin-top: -20px;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
z-index: 2;
}

.prev,
.next {
background-size: 22px;
background-position: center;
background-repeat: no-repeat;
cursor: pointer;
}

.prev {
background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
left: -20px;
}

.next {
background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
right: -20px;
}

.prev:active,
.next:active {
transform: scale(0.8);
}



