* {
    margin: 0;
}

.seccion {
    width: 365px;
    height: 568px;
    border: 1px solid black;  
}
.encabezado {
    width: 365px;
    height: 60px;
    margin-top: 38px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.flecha img {
    width: 28px;
    height: 28px;

}

.menu img {
    width: 28px;
    height: 28px;
}

.flecha {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 10px;
}

.vista {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 100px;
}

.menu {
    grid-area: 1 / 3 / 2 / 4;
    margin-left: 100px;
}

.tarifas {
    background-image: url("/dev/img/tarifas.png");
    background-size: cover;
}

.item {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 175px;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(255, 0, 128, 0.7);
}

.header {
    display: flex;
    width: 345px;
    height: 60px;
    background: rgba(126, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
}

.item-contenedor {
    display: flex;
    align-items: center;
}

.contenido {
    flex: 1;
}

.detalle {
    margin: 0;
}

.descripcion {
    margin-top: 10px;
    text-align: center;
}

.duracion {
    flex: 1;
    text-align: center;
    margin: 0;
}
.precio {
    flex: 1;
    text-align: center;
    margin: 0;
}

.cuadro-superior {
    background: rgba(255, 255, 255, 0.7); 
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.cuadro-inferior {
    background: rgba(255, 255, 255, 0.7); 
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

