* {
    margin: 0;
}

.seccion {
    width: 365px;
    height: 568px;
    border: 1px solid black;
}

.encabezado {
    width: 365px;
    height: 60px;
    margin-top: 38px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.flecha img {
    width: 28px;
    height: 28px;

}

.menu img {
    width: 28px;
    height: 28px;
}

.flecha {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 10px;
}

.vista {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 100px;
}

.menu {
    grid-area: 1 / 3 / 2 / 4;
    margin-left: 100px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 175px;
    padding: 10px;
    margin-bottom: 5px;
}

.buscadorrr {
    display: flex;
    width: 345px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.categorias {
    display: flex;
    width: 345px;
    height: 110px;
    justify-content: center;
}

.productos {
    display: flex;
    width: 345px;
    height: 255px;
    justify-content: center;
}

.header {
    display: flex;
    width: 345px;
    height: 40px;
    background: rgba(126, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
}

.buscador {
    align-items: center;
    position: relative;
    display: inline-block;
    border: none;
    color: rgb(126, 255, 255);
    border: 3px solid rgb(126, 255, 255);
    width: 250px;
    height: 20px;
    padding: 10px;
    padding-left: 2px;
    border-radius: 20px;
    margin-top: 15px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6fr;
    grid-column-gap: 14px;
    grid-row-gap: 0px;
    margin-left: 25px;
    margin-top: 20px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}


.parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 6fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.div5 {
    grid-area: 1 / 1 / 2 / 2;
}

.div6 {
    grid-area: 1 / 2 / 2 / 3;
}

.div7 {
    grid-area: 1 / 3 / 2 / 4;
}

.parent3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 25px;
}

.div8 {
    grid-area: 1 / 1 / 2 / 2;
}

.div9 {
    grid-area: 1 / 2 / 2 / 3;
}

.div10 {
    grid-area: 2 / 1 / 3 / 2;
}

.div11 {
    grid-area: 2 / 2 / 3 / 3;
}

.div8,
.div9,
.div10,
.div11,
.div1,
.div2,
.div3,
.div4 {
    position: relative;
    overflow: hidden;
}

.div8 img,
.div9 img,
.div10 img,
.div11 img {
    width: 100px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    border: 3px solid rgb(126, 255, 255);
}

.div1 img,
.div2 img,
.div3 img,
.div4 img {
    width: 60px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    border: 3px solid rgb(126, 255, 255);
}

.texto {
    text-align: center;
}

.seleccionado {
    text-decoration: underline;
}

.subtitulo {
    margin-left: 30px;
}

.ancho_celular {
    width: 330px;
}

.productoss {
    /*border:2px solid magenta;*/
    height: 562px;
    margin-top: 0px;
    text-align: center;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0);
    margin-bottom: 2px;
}