* {
    margin: 0;
}

.seccion {
    width: 365px;
    height: 568px;
    border: 1px solid black;  
}

.tienda {
    background-image: url("/dev/img/tienda.png");
    background-size: cover;
}

.item {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 175px;
    padding: 10px;
    margin-bottom: 5px;
    background: rgba(255, 0, 128, 0.7);
}

.buscadorrr {
    display: flex;
    width: 345px;
    height: 70px;
    background: rgba(151, 247, 144, 0.7);
    align-items: center;
    justify-content: center;
}

.categorias {
    display: flex;
    width: 345px;
    height: 110px;
    background: rgba(242, 228, 137, 0.7);
    justify-content: center;
}

.productos {
    display: flex;
    width: 345px;
    height: 255px;
    background: rgba(253, 149, 239, 0.7);
    justify-content: center;
}

.header {
    display: flex;
    width: 345px;
    height: 40px;
    background: rgba(126, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
}

  .buscador{
    align-items: center;
    position: relative;
    display: inline-block;
    border: none;
    color: gray;
    width: 110%;  
    padding: 10px;
    padding-left: 2px;
    border-radius: 20px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6fr;
    grid-column-gap: 14px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }


    .parent2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 6fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        }
        
        .div5 { grid-area: 1 / 1 / 2 / 2; }
        .div6 { grid-area: 1 / 2 / 2 / 3; }
        .div7 { grid-area: 1 / 3 / 2 / 4; }
  
 
  